:root{
    font-size: 67%;
    --color-pink: rgb(225, 183, 191);
    --color-violet: rgb(89, 67, 122);
    --color-purple: rgb(194, 98, 175);
    --color-white: rgb(255, 255, 255);
    --color-black: rgb(0, 0, 0);
}
*,*::after,*::before{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}
.backgrounds{
    position: absolute;
    width: 100%;
    z-index: -20;
    inset:0;
}
.upper-pink-bg{
    position: relative;
    height: 30.81%;
    background-color: var(--color-pink);
}
.violet-bg{
    position: relative;
    height: 20.54%;
    background-color: var(--color-violet);
}
.lower-pink-bg{
    position: relative;
    height: 48.65%;
    background-color: var(--color-pink);
}